.image-row-container{
    display: flex;
    width: 50vw;
    justify-content: space-between;
    margin-top: 24px;
}

.row-image{
    width: 10vw;
}

.img-did{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.did{
    color: grey;
    font-size: .7vw;
    width: auto;
}

@media screen and (max-width: 500px) {
    .image-row-container {
        width: 90vw;
    }

    .row-image {
        width: 23vw
    }

    .did {
        font-size: 2vw;
    }
}