/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

@font-face {
    font-family: neuehaas-semibold;
    src: url("./assets/fonts/NeueHaasDisplay-Mediu.woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: neuehaas-regular;
    src: url("./assets/fonts/NeueHaasDisplay-Roman.woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: neuehaas-regularitalic;
    src: url("./assets/fonts/NeueHaasDisplay-RomanItalic.woff");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: neuehaas-thin;
    src: url("./assets/fonts/NeueHaasDisplay-Thin.woff");
    font-weight:300;
    font-style: normal;
}

@font-face {
    font-family: neuehaas-thinitalic;
    src: url("./assets/fonts/NeueHaasDisplay-ThinItalic.woff");
    font-weight:300;
    font-style: italic;
}

@font-face {
    font-family: neuehaas-xxthin;
    src: url("./assets/fonts/NeueHaasDisplay-XXThin.woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: neuehaas-xxthinitalic;
    src: url("./assets/fonts/NeueHaasDisplay-XXThinItalic.woff");
    font-weight: 100;
    font-style: italic;
}

.app-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.auto-app-container{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100vw;
  position: relative;
}


body::-webkit-scrollbar{
  display: none;
}



.auto-app-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.cover-image{
  object-fit: cover;
  height: 100%;
}

.invert-text{
  mix-blend-mode: difference;
  filter: invert(1);
}

/* For high contrast */
.white-text{
  color: white;
}

a{
  text-decoration: none;
  color: black;
}